#control-panel {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 100%;
    display: flex;
    z-index: 10;
}

.dot {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: none;
    background-color: blue;
    box-sizing: border-box;
    --min-hotspot-opacity: 0;
}